kivy==2.3.0
kivymd==1.2.0
plyer==2.0.0
sqlalchemy==2.0.19
watchdog==3.0.0
android==4.1.1
pyjnius==1.4.0
buildozer==1.4.2
cython==0.29.36
kivy_garden.mapview==1.0.2
requests==2.31.0
certifi==2024.5.2
charset-normalizer==3.3.2
idna==3.4   
urllib3==1.26.18
typing-extensions==4.7.1
sqlalchemy==2.0.19
databases==0.7.3
aiosqlite==0.17.0
greenlet==2.0.2
asyncpg==0.27.0
typing==4.7.1
pydantic==2.8.0
email-validator==2.0.0
dnspython==2.4.2
argon2-cffi==21.3.0